<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
</head>
<body>

    <h1>Input Form</h1>

    <form action="/runModel2" method="POST">
        <label for="var1">Married</label>
        <input type="text" id="Married" name="married" required><br><br>

        <label for="var2">Education</label>
        <input type="text" id="Education" name="education" required><br><br>

        <label for="var3">ApplicantIncome</label>
        <input type="text" id="ApplicantIncome" name="applicantincome" required><br><br>

        <label for="var4">LoanAmount</label>
        <input type="text" id="LoanAmount" name="loanamount" required><br><br>

        <label for="var5">Credit_History</label>
        <input type="text" id="Credit_History" name="credithistory" required><br><br>

        <button type="submit">Submit</button>
    </form>

</body>
</html>
